.DS_Store
disrespect me.logicx/Alternatives/000/DisplayState.plist
disrespect me.logicx/Alternatives/000/DisplayStateArchive
disrespect me.logicx/Alternatives/000/MetaData.plist
disrespect me.logicx/Alternatives/000/Project File Backups/00/ProjectData
disrespect me.logicx/Alternatives/000/Project File Backups/01/ProjectData
disrespect me.logicx/Alternatives/000/Project File Backups/02/MetaData.plist
disrespect me.logicx/Alternatives/000/Project File Backups/02/ProjectData
disrespect me.logicx/Alternatives/000/ProjectData
disrespect me.logicx/Alternatives/000/WindowImage.jpg
disrespect me.logicx/Media/Audio Files/20250929_disrespect me.wav
disrespect me.logicx/Media/Audio Files/Tomu Re\#02.wav
disrespect me.logicx/Media/Audio Files/Tomu\#21.wav
